<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.example.hello</string>
	<key>ProgramArguments</key>
	<array>
		<string>This is a test. Check if the file has been exists or has been modified in /.tmp/com.example.plist. If not, navigate to repo and run ./install_launch_agent.
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>SuccessfulExit</key>
	<false/>
</dict>
</plist>
